stock_linearity_scoring_submission/submission1/final_score_results.xlsx
stock_linearity_scoring_submission/submission1/lin_comb.xlsx
stock_linearity_scoring_submission/submission1/stock_linearity_scoring_algo.py
stock_linearity_scoring_submission/submission1/visuals/AKO-B.PNG
stock_linearity_scoring_submission/submission1/visuals/BBBY.PNG
stock_linearity_scoring_submission/submission1/visuals/CRWD.PNG
stock_linearity_scoring_submission/submission1/visuals/DISCA.PNG
stock_linearity_scoring_submission/submission1/visuals/FTCH.PNG
stock_linearity_scoring_submission/submission1/visuals/GS.PNG
stock_linearity_scoring_submission/submission1/visuals/JCI.PNG
stock_linearity_scoring_submission/submission1/visuals/KR.PNG
stock_linearity_scoring_submission/submission1/visuals/NTP.PNG
stock_linearity_scoring_submission/submission1/visuals/NUE.PNG
stock_linearity_scoring_submission/submission1/visuals/OPEN.PNG
stock_linearity_scoring_submission/submission1/visuals/PLBY.PNG
stock_linearity_scoring_submission/submission1/visuals/SUP.PNG
stock_linearity_scoring_submission/submission1/visuals/V.PNG
stock_linearity_scoring_submission/submission1/visuals/WRTG.PNG
stock_linearity_scoring_submission/to_be_submitted/htf_finderv3_1.py
stock_linearity_scoring_submission/to_be_submitted/htf_score_of_various_tickers.pdf
stock_linearity_scoring_submission/to_be_submitted/Scoring_System_Review_and_Commentary.pdf
stock_linearity_scoring_submission/to_be_submitted/stock_scoring_funcsv3_1.py
stock_linearity_scoring_submission/to_be_submitted/stock_scoring_results.xlsx
stock_linearity_scoring_submission/to_be_submitted/stock_scoringv3_1.py
stock_linearity_scoring_submission/to_be_submitted/stock_scoringv3_1.rar
stock_linearity_scoring_submission/update1_1/stock_scoringv1_1.py
stock_linearity_scoring_submission/update1_2/stock_scoringv1_2.py
stock_linearity_scoring_submission/update1_3/stock_scoringv1_3.py
stock_linearity_scoring_submission/update1_4/change_logv1_4.txt
stock_linearity_scoring_submission/update1_4/stock_scoringv1_4.py
stock_linearity_scoring_submission/update2_1/change_logv2_1.txt
stock_linearity_scoring_submission/update2_1/stock_scoringv2_1.py
stock_linearity_scoring_submission/update2_2/stock_scoringv2_2.py
stock_linearity_scoring_submission/update2_3/stock_scoringv2_3.py
stock_linearity_scoring_submission/update2_4/stock_scoringv2_4.py
stock_linearity_scoring_submission/update2_5/stock_scoringv2_5.py
stock_linearity_scoring_submission/update2_6/stock_scoringv2_6.py
stock_linearity_scoring_submission/update2_7/stock_scoringv2_7.py
stock_linearity_scoring_submission/update3_0/stock_scoringv3_0.py
output_test/htf_trigger_validation.xlsx
output_test/lin_comb.xlsx
output_test/lin_comb2.xlsx
output_test/stock_scoring_results_simplified.xlsx
output_test/stock_scoring_results.xlsx
output_test/ticker_htf_trigged.txt
old_versions/change_log.txt
old_versions/linearity_analysis_v2_0.ipynb
old_versions/linearity_analysis_v2_1.ipynb
old_versions/linearity_analysis_v2_2.ipynb
old_versions/linearity_analysis_v2_3.ipynb
old_versions/linearity_analysis_v2_4_submitted.ipynb
old_versions/linearity_analysis_v2_5.ipynb
old_versions/linearity_analysis_v2_6.ipynb
old_versions/linearity_analysis_v2_7.ipynb
old_versions/linearity_analysis_v3_0.ipynb
old_versions/linearity_analysis_v3_1.ipynb
old_versions/linearity_analysis_v3_1with_prev_consolidation.ipynb
old_versions/linearity_analysis_v3_2.ipynb
old_versions/linearity_analysis_v3_3.ipynb
old_versions/linearity_analysis_v3_4.ipynb
old_versions/linearity_analysis_v3_5.ipynb
old_versions/linearity_analysis_v3_6.ipynb
old_versions/linearity_analysis_v3_7_backtest.ipynb
old_versions/linearity_analysis_v3_7.ipynb
old_versions/linearity_analysis_v3_8.ipynb
old_versions/linearity_analysis_v3_9.ipynb
old_versions/linearity_analysis_v3_10_overhaul.ipynb
old_versions/linearity_analysis_v3_10.ipynb
old_versions/linearity_analysis_v4_0.ipynb
old_versions/linearity_analysis_v4_1.ipynb
old_versions/linearity_analysis.ipynb
old_versions/stock_linearity_scoring_algo.py
old_versions/stock_linearity_scoring_submission.rar
old_versions/stock_scoring_act_old.py
old_versions/stock_scoring_act2_old.py
input_test/stock_list_feedback.csv
input_test/ticker_input_list.txt
input_excel_files/lin_good.xlsx
input_excel_files/lin_poor.xlsx
descriptions/ADBE_htf.png
descriptions/dataframe_structure.PNG
descriptions/high_tight_flag_description.docx
descriptions/high_tight_flag_description.pdf
descriptions/high_tight_flag_descriptionv2.docx
descriptions/high_tight_flag_descriptionv2.pdf
descriptions/htf_score_of_various_tickers.docx
descriptions/htf_score_of_various_tickers.pdf
descriptions/Scoring System feedback.pdf
descriptions/Scoring_System_Review_and_Commentary_highlighted.pdf
descriptions/Scoring_System_Review_and_Commentary.pdf
descriptions/ZS_htf.png
black_board/black_board.ipynb
black_board/black_board2.ipynb
hourly_work_log.txt
stock_scoring_results.xlsx
stock_scoring_funcs.py
